[submodule "pd-for-android"]
	path = pd-for-android
	url = git://github.com/libpd/pd-for-android.git
[submodule "libpd"]
	path = libpd
	url = git://github.com/libpd/libpd.git
	branch = cocoa
[submodule "PdParty"]
	path = PdParty
	url = https://github.com/danomatika/PdParty.git
[submodule "ZipArchive"]
	path = ZipArchive
	url = https://github.com/mattconnolly/ZipArchive.git
